body {
    padding: 0 25px;
}

main {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.nav {
    display: flex;

}

.page-tittle {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px; 
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: gray;
}

.content-title {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
}

.content-left {
    box-sizing: border-box;
    width: 50%;
}

.content-right {
    box-sizing: border-box;
    width: 50%;
}

.button:hover {
    background-color: black;
    color: gray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: darkslategray;
    color: white;
    padding: 10px 0px;
    margin-top: 10px;
    cursor: pointer;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: lightgray;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
}

.content-image span {
    color: gray;
    text-align: center;
}

.circle {
    background: lightgray;
    border-radius: 50%;
    width: 1.2em;
    display: flex;
    justify-content: center;
}